<launch>

    <node pkg="yasht_safety" name="safety_node" type="safety_node" output="screen"/>

    <rosparam command="load" file="$(find f110_wall_follow)/config/config.yaml" />

    <node pkg="f110_wall_follow" name="f110_wall_follow_node" type="f110_wall_follow_node" output="screen"/>

</launch>
